/*hide "no file chosen in input type 'file'*/
input[type=file]{
    width:90px;
    color:transparent;
}

/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*wall paper*/
body{
    font: normal 14px Verdana, Arial, sans-serif;
    height: 100%;
    background-image: url("images/mtgWallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/*White text in a div*/
div.white {
    color: white;
    font-size: 18px;
}

/*White text to every element named colorLabel*/
#colorLabel {
    color: white;
    font-size: 18px;
}

html,body { height:100%; }

/*center main div*/
#centerMainDiv {
    margin-left: 200px;
    margin-right:200px;
    height: 100%;
    vertical-align: middle;
    padding : 0;
    font-family: helvetica; 
    position: relative;
    height: 100vh;
}

/*The content of the main div, making it scrollable*/
#mainDivContent {
    height: 100vh;
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

/* adds margins around the add card button in the inventory screen*/
#addCardButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*For image boxes*/
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*end of image boxes*/